.container {
    width: 100vw;
    height: 100vh;

    header {
        height: 100vh;
        text-align: center;
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;

        a {
            display: inline-block;
            background-color: #155dfc;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            text-decoration: none;
        }
    }
}